<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Blog!</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/home.css">
</head>
<body>
  <!-- Head -->
    <section id="header">
      <div class="container containHead">
        <div class="row">
          <div class="Logo" style="user-select: none;">
            Dars The Villain
          </div>
        </div>
        <div class="row">
          <ul>
            <a href="/Home"><li id="home_li">Home</li></a>
            <a href="/Post"><li id="post_li">Post</li></a>
          </ul>
        </div>
        <div class="row">
          <a href="/Logged_Out">
            <img src="images/profile_01.jpg" alt="profile_pic" id="profile_pic">
          </a>
        </div>
      </div>
    </section>